<%- include('partials/header') %> 
<div>
    <div style="display: inline" class="text-center font-weight-bold font-italic display-4">shopping.com</div>
    <input type="text" placeholder="What are you searching for?" size="50">🔍<br>

    
    <div class="container row expand-full-width " style="width: 200; color: gray;"></div>
        
    </div>
        <div class="dropdown ">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>


      

      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">category 1</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div></div>

</div>
<%- include('partials/footer') %> 